body {
  background-color: #F5F0E6;
  font-family: "Poppins", sans-serif;
  color: #333;
}

.profile-section {
  background-color: #F5F0E6;
  color: #333;
}

.navbar {
  background-color: #F5F0E6 !important;
}

.navbar-brand {
  color: #007bff !important;
}

.img-profile {
    width: 20em;
    margin-bottom: 10px;
}

.profile-section {
  min-height: 100vh;
  display: flex;
}

.card {
  background: #F5F0E6;
  border: none;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

footer {
  background-color: #007bff;
  color: #F5F0E6;
  padding: 15px 0;
  text-align: center;
}
